{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 85,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "trailingComma": "es5",
        "arrowParens": "always"
      }
    },
    {
      "files": "*.html",
      "options": {
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.css",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
